<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../moment-element/moment-with-locales-import.html">
<!--
`campus-rollcall`
@demo demo/campus-rollcall.html
-->
<dom-module id="campus-rollcall">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host paper-item:not([disabled]) {
            background: #fff;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .mark1 {
            font-size: 19px;
            border-radius: 19px;
            margin: 0;
            padding: 0;
            min-width: 38px;
            min-height: 38px;
            border: 1px solid #fff;
        }
        
        :host .mark2 {
            font-size: 19px;
            border-radius: 19px;
            padding: 6px;
            min-width: 24px;
            min-height: 24px;
            text-align: center;
            border: 1px solid #ccc;
        }
        
        @media (min-width: 601px) {
            :host .pitem {
                margin: 4px;
                flex: 1 1 240px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }
        }
        
        @media (max-width: 600px) {
            :host {
                background: #fff;
            }
            :host .pitem {
                flex: 1 1 280px;
                border-bottom: 1px solid #eee;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall" hidden$="[[hiddenPanel1]]">
            <paper-toolbar>
                <iron-icon icon="icons:event" style="margin:0 8px"></iron-icon>
                <div class="title" style="margin:0">[[config.Time]]</div>
            </paper-toolbar>
            <div class="layout vertical">
                <div class="layout horizontal center wrap" style="max-width:768px;margin:0 auto">
                    <template is="dom-repeat" items="[[config.Periods.Period]]">
                        <paper-item class="secondary-text-color pitem" on-tap="_choosePeriod" disabled$="[[!item.Absences]]" period>
                            <div class="flex-auto" style="font-size:18px;line-height:24px;text-align:center">[[item.Name]]</div>
                        </paper-item>
                    </template>
                    <paper-item class="pitem" style="visibility:hidden"></paper-item>
                </div>
            </div>
        </paper-header-panel>
        <paper-header-panel mode="waterfall" hidden$="[[hiddenPanel2]]">
            <paper-toolbar>
                <paper-icon-button icon="icons:arrow-back" on-tap="_showPanel1"></paper-icon-button>
                <div class="title">[[config.Time]] [[currentPeriod.Name]]</div>
            </paper-toolbar>
            <div class="layout vertical">
                <div class="layout horizontal center wrap" style="max-width:768px;margin:0 auto">
                    <template is="dom-repeat" items="[[ccItems]]">
                        <paper-item class="secondary-text-color pitem" on-tap="_chooseCCItem" ccItem>
                            <div class="flex-auto" style="font-size:18px;line-height:24px">[[item.Name]]</div>
                            <div>[[item.Students]]</div>
                        </paper-item>
                    </template>
                    <paper-item class="pitem" style="visibility:hidden"></paper-item>
                </div>
            </div>
        </paper-header-panel>
        <paper-header-panel mode="waterfall" hidden$="[[hiddenPanel3]]">
            <paper-toolbar>
                <paper-icon-button icon="icons:arrow-back" on-tap="_showPanel2"></paper-icon-button>
                <div class="title">[[currentCCItem.Name]]</div>
                <paper-icon-button icon="icons:refresh" on-tap="_getStudents"></paper-icon-button>
                <paper-icon-button icon="icons:save" on-tap="_save" save></paper-icon-button>
            </paper-toolbar>
            <paper-toolbar>
                <paper-button class="mark1" on-tap="_toggleAbsence" style$="[[currentAbsence.Style]]" toggleAbsence>[[currentAbsence.Abbr]]</paper-button>
                <div class="title" style="margin-left:16px">[[config.ShortTime]] [[currentPeriod.Name]]</div>
                <div style="font-size:16px;color:#fff;margin-left:8px">[[abbsenceSummaryTitle]]</div>
            </paper-toolbar>
            <div class="layout vertical">
                <div class="layout horizontal center wrap" style="max-width:768px;margin:0 auto">
                    <template is="dom-repeat" items="[[students]]">
                        <paper-item student class="secondary-text-color pitem layout horizontal center-justified" style="padding:8px 16px" on-tap="_rollcall" disabled$="[[item.disabled]]">
                            <div class="mark2" style$="[[item.Absence.Style]]" hidden$="[[!item.Absence]]">[[item.Absence.Abbr]]</div>
                            <div class="mark2" style="border:1px solid #ccc" hidden$="[[item.Absence]]">[[item.Absence.Abbr]]</div>
                            <iron-pages class="flex-auto" selected="[[translate._current]]" attr-for-selected="value">
                                <div value="zh-tw" class="layout horizontal center wrap flex-auto" style="margin-left:16px">
                                    <div class="flex-auto" style="font-size:18px;line-height:24px">[[item.SeatNo]] [[item.LabelName]]</div>
                                    <div>
                                        <div>[[translate._01]]：[[item.Class]]</div>
                                        <div>[[translate._02]]：[[item.StudentNo]]</div>
                                    </div>
                                </div>
                                <div value='en-us' class="layout vertical flex-auto" style="margin-left:16px">
                                    <div style="font-size:18px;line-height:32px">[[item.SeatNo]] [[item.LabelName]]</div>
                                    <div>[[translate._01]]：[[item.Class]]</div>
                                    <div>[[translate._02]]：[[item.StudentNo]]</div>
                                </div>
                            </iron-page>
                        </paper-item>
                    </template>
                    <paper-item class="pitem" style="visibility:hidden"></paper-item>
                </div>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: 'campus-rollcall',

            properties: {
                /*
                 * 課堂點名 (zh-tw), 课堂点名 (zh-cn), Roll Call (en-us)
                 */
                title: {
                    type: Object,
                    readOnly: true
                },
                config: Object,
                ccItems: Array,
                currentCCItem: Object,
                abbsenceSummaryTitle: String,
                students: Array
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': gadget.getLanguage().toLowerCase(),
                    'zh-tw': {
                        '_01': '班級',
                        '_02': '座號'
                    },
                    'en-us': {
                        '_01': 'Class',
                        '_02': 'Student ID'
                    }
                });

                this._setTitle({
                    'zh-tw': '課堂點名',
                    'zh-cn': '课堂点名',
                    'en-us': 'Roll Call'
                });

                this.set('hiddenPanel1', false);
                this.set('hiddenPanel2', true);
                this.set('hiddenPanel3', true);

                this._getConfig();
                this._getMyClassAndCourse();
            },

            _getConfig: function() {
                var request = {
                    contract: 'campus.rollcall',
                    service: '_.GetConfig',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Config) {
                        response.Config.Time = moment(new Date(Math.abs(response.Config.Timestamp))).format('YYYY/MM/DD');
                        response.Config.ShortTime = moment(new Date(Math.abs(response.Config.Timestamp))).format('MM/DD');

                        if (response.Config.Periods && response.Config.Periods.Period) {
                            response.Config.Periods.Period = [].concat(response.Config.Periods.Period);
                            response.Config.Periods.Period.forEach(function(period) {
                                if (period.Absences && period.Absences.Absence) {
                                    period.Absences.Absence = [].concat(period.Absences.Absence);
                                    period.Absences.Absence.forEach(function(item) {
                                        if (item.Abbr === '曠')
                                            item.Style = 'color:#FFF;background-color:#F44336';
                                        else if (item.Abbr === '遲')
                                            item.Style = 'color:#FFF;background-color:#FF9800';
                                        else if (item.Abbr === '事')
                                            item.Style = 'color:#FFF;background-color:#2196F3';
                                        else if (item.Abbr === '病')
                                            item.Style = 'color:#FFF;background-color:#4CAF50';
                                        else if (item.Abbr === '公')
                                            item.Style = 'color:#FFF;background-color:#9C27B0';
                                        else
                                            item.Style = 'color:#9E9E9E;background-color:#FFF';
                                    });
                                }
                            });
                        }

                        if (response.Config.Absences && response.Config.Absences.Absence)
                            response.Config.Absences.Absence = [].concat(response.Config.Absences.Absence);

                        this.set('config', response.Config);
                    }
                }.bind(this));
            },

            _getMyClassAndCourse: function() {
                var request = {
                    contract: 'campus.rollcall',
                    service: '_.GetMyClassAndCourse',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        this.set('ccItems', [].concat(response.Items.Item || []));
                    }
                }.bind(this));
            },

            _getStudents: function() {
                var request = {
                    contract: 'campus.rollcall',
                    service: this.currentCCItem.Type === 'Class' ? '_.GetStudentsByClass' : '_.GetStudentsByCourse',
                    body: {
                        Condition: {
                            UID: this.currentCCItem.UID
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Students) {
                        var students = [].concat(response.Students.Student || []);
                        students.forEach(function(s) {
                            s.disabled = false;
                            s.LabelName = this.translate._current === 'en-us' ? s.EnglishName.trim() : s.Name;

                            if (s.Attendance) {
                                [].concat(s.Attendance.Period).forEach(function(p) {
                                    if (p._ === this.currentPeriod.Name) {
                                        var include = false;
                                        this.currentPeriod.Absences.Absence.forEach(function(a) {
                                            if (a.Name === p.$.AbsenceType)
                                                include = true;
                                        });

                                        if (!include)
                                            s.disabled = true;

                                        s.Absence = {
                                            Abbr: p.$.AbsenceType,
                                            Name: p.$.AbsenceType
                                        }

                                        this.config.Absences.Absence.forEach(function(a) {
                                            if (s.Absence.Abbr === a.Name) {
                                                s.Absence.Abbr = a.Abbr;
                                                if (s.Absence.Abbr === '曠')
                                                    s.Absence.Style = 'color:#FFF;background-color:#F44336';
                                                else if (s.Absence.Abbr === '遲')
                                                    s.Absence.Style = 'color:#FFF;background-color:#FF9800';
                                                else if (s.Absence.Abbr === '事')
                                                    s.Absence.Style = 'color:#FFF;background-color:#2196F3';
                                                else if (s.Absence.Abbr === '病')
                                                    s.Absence.Style = 'color:#FFF;background-color:#4CAF50';
                                                else if (s.Absence.Abbr === '公')
                                                    s.Absence.Style = 'color:#FFF;background-color:#9C27B0';
                                                else
                                                    s.Absence.Style = 'color:#9E9E9E;background-color:#FFF';
                                            }
                                        });
                                    }
                                }.bind(this));
                            }
                        }.bind(this));

                        this.set('students', students);

                        this._summaryAbsence();
                    }
                }.bind(this));
            },

            _showPanel1: function() {
                this.set('hiddenPanel1', false);
                this.set('hiddenPanel2', true);
                this.set('hiddenPanel3', true);
            },

            _showPanel2: function() {
                this.set('hiddenPanel1', true);
                this.set('hiddenPanel2', false);
                this.set('hiddenPanel3', true);
            },

            _showPanel3: function() {
                this.set('hiddenPanel1', true);
                this.set('hiddenPanel2', true);
                this.set('hiddenPanel3', false);
            },

            _choosePeriod: function(e) {
                this.set('currentPeriod', e.model.item);
                this.set('currentPeriod.pIndex', e.model.index);
                this.set('currentAbsence', e.model.item.Absences.Absence[0]);
                this.set('currentAbsence.aIndex', 0);

                this._showPanel2();
            },

            _chooseCCItem: function(e) {
                this.set('currentCCItem', e.model.item);
                this._getStudents();

                this._showPanel3();
            },

            _toggleAbsence: function(e) {
                var index = this.currentAbsence.aIndex + 1;
                if (index < this.config.Periods.Period[this.currentPeriod.pIndex].Absences.Absence.length) {
                    this.set('currentAbsence', this.config.Periods.Period[this.currentPeriod.pIndex].Absences.Absence[index]);
                    this.set('currentAbsence.aIndex', index);
                } else {
                    this.set('currentAbsence', this.config.Periods.Period[this.currentPeriod.pIndex].Absences.Absence[0]);
                    this.set('currentAbsence.aIndex', 0);
                }
            },

            _rollcall: function(e) {
                if (!e.model.item.Absence ||
                    e.model.item.Absence.Name !== this.currentAbsence.Name)
                    this.set(['students.', e.model.index, '.Absence'].join(''), JSON.parse(JSON.stringify(this.currentAbsence)));
                else
                    this.set(['students.', e.model.index, '.Absence'].join(''), null);

                this._summaryAbsence();
            },

            _summaryAbsence: function() {
                var absences = [];
                this.config.Absences.Absence.forEach(function(item) {
                    absences.push({
                        key: item.Abbr,
                        count: 0
                    });
                });
                this.students.forEach(function(s) {
                    if (s.Absence) {
                        absences.forEach(function(a) {
                            if (a.key === s.Absence.Abbr)
                                a.count += 1;
                        });
                    }
                });

                var title = [];
                absences.forEach(function(a) {
                    if (a.count > 0)
                        title.push([a.count, a.key].join(' '));
                });
                this.set('abbsenceSummaryTitle', title.join('、'));
            },

            _save: function() {
                var items = [];
                this.students.forEach(function(s) {
                    if (s.Absence) {
                        items.push({
                            ID: s.UID,
                            Absence: s.Absence.Name
                        })
                    } else {
                        items.push({
                            ID: s.UID,
                            Absence: ''
                        })
                    }
                });

                var request = {
                    contract: 'campus.rollcall',
                    service: '_.AddRollCall',
                    body: ['<Request>',
                        '<Period>', this.currentPeriod.Name, '</Period>',
                        '<Student>', JSON.stringify(items), '</Student>',
                        '</Request>'
                    ].join('')
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Result) {
                        this._getStudents();
                        this.$.toast.show({
                            text: '儲存完成!',
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: '儲存失敗，請稍候重試!',
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
